{% extends "base.html" %}
{% block content %}
{% include "section.html" %}

<div class="row">
  <div class="col-xs-12 col-md-12">
    <h3 class="text-capitalize">catalog: {{catalog.name}}</h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12 text-left text-info">
    {% with messages = get_flashed_messages() %}
      {% if messages %}

        {% for message in messages %}
            <p class="text-danger text-capitalize"> <strong> {{ message }} </strong> </p>
        {% endfor %}

      {% endif %}
    {% endwith %}
  </div>
</div>

<main>
  <div class="row">
    <div class="col-xs-6 col-md-6">
      <h4 class="text-capitalize">Items: {{ item.name }}</h4>
        <p><strong>Description:</strong><br>
        {{ item.description }}</p>
    </div>
  </div>
</main>

<a class="btn btn-default" href="{{url_for('editItem', catalog_id=catalog.id, item_id=item.id)}}">Edit</a>
<a class="btn btn-default" href="{{url_for('deleteItem', catalog_id=catalog.id, item_id=item.id)}}">Delete</a>
{% endblock %}
