{% extends "base.html" %}
{% block content %}
{% include "section.html" %}

<div class="row">
  <div class="col-md-12">
    <h3>Add New Item</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <form action="{{url_for('newItem')}}" method="post">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <label>Catalog:</label>
          <select name="catalog" class="form-control" required>
          {% for catalog in catalogs %}
            <option value="{{ catalog.name }}">{{ catalog.name }}</option>
          {% endfor %}
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <br>
        </div>
      </div>
      <div class="row text-right">
        <div class="col-xs-12 col-md-12">
          <a class="btn btn-default" href="{{url_for('newCatalog')}}">Add New Catalog</a>
        </div>
      </div>
      <label for="name">Name:</label>
        <input type="text" class="form-control" name="name" placeholder="new item">
      <label for="description">Description:</label>
      <textarea class="form-control" rows="5" name="description" placeholder="description"></textarea>
      <div class="row">
        <div class="col-md-12">
          <p class="text-danger">{{ error }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <input class="btn btn-default" type="submit" value="Create">
          <a class="btn btn-default" href="{{url_for('mainPage')}}">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>


{% endblock %}
